backup/

# Classifier

classifier/.*
classifier/__pycache__
classifier/data
classifier/figures
!classifier/.run

# Standard TeX/latexmk temporary files

**/*.aux
**/*.bbl
**/*.fls
**/*.fdb_latexmk
**/*.log
**/*.blg
**/*.out

**/*.pdf
**/.*.sw*

