# Classifier

classifier/.*
classifier/__pycache__
classifier/data
classifier/figures
!classifier/.run

# Standard TeX/latexmk temporary files

report/*.aux
report/*.bbl
report/*.fls
report/*.fdb_latexmk
report/*.log
report/*.blg
report/*.out

report/*.pdf
report/.*.sw*

